@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);
body{
	font-size: 20px;
	font-family: 'Work Sans', sans-serif;
	color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #DDDDDD;
}
h1{
  font-weight: 300;
  margin: 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #444;
  color: #fff;
  border-radius: 5px;
}
.question{
  font-size: 30px;
  margin-bottom: 10px;
}
.answers {
  margin-bottom: 10px;
  text-align: left;
  display: inline-block;
}
.answers label{
  display: block;
  margin-bottom: 10px;
}
button{
  font-family: 'Work Sans', sans-serif;
	font-size: 22px;
	background-color: #F05454;
	color: #fff;
	border: 0px;
	border-radius: 5px;
	padding: 20px;
	cursor: pointer;
    margin-bottom: 20px;
    
}
button:hover{
	background-color: #30475E;
}

.slide{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
}
.active-slide{
  opacity: 1;
  z-index: 2;
  padding: 20px;
}
.quiz-container{
  position: relative;
  height: 200px;
  margin: 40px;
  background-color:#222831;
  color: #DDDDDD;
  border-radius: 5px;
}