* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: #9FE6A0;
  display:flex;
}

.container {
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  margin:auto;
  perspective: 1000px;
}

.tile {
  width: calc(25% - 8px);
  height: calc(33.33% - 8px);
  position: relative;
  margin : 4px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.tile.flipped{
  transform: rotateY(180deg);
}

.tile:active{
  transform: scale(.97);
  transition: transform 0.2s;
}

.front,
.back {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background-color: #F55C47;
  backface-visibility: hidden;
}
.back{
  transform: rotateY(180deg)
}