body{
    background-color: #ff80001f;
}
.title{
    font-family: 'Comfortaa', cursive;
    margin: 5%;
}
.line{ 
   width: 85%;
   margin-right: auto;
   margin-left: 1%;
   height: 1px;
   background-color: #2978b5;
   border: 1px solid #2978b5;
   border-radius: 2px;
}
.info{
    width:800px;
    font-family: 'Comfortaa', cursive;
    font-size: larger;
    margin: 5%;
    color: #8ab6d6;
    font-weight: bolder;
    white-space: nowrap;

}
.left{
    border-right: 3px solid #2978b5;
}
#container{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
}