@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
#upper{
    border: 4px solid #f4c983;
    width: 320px;
    height: 120px;
    border-radius:40px;
    font-size: 50px;
    margin-bottom:20px;
    text-align: right;
    padding:10px;
    color: #f4c983;
    font-weight: bold;
    overflow: scroll;
    text-overflow: clip;
}
#upper::-webkit-scrollbar {
    display: none;
  }
#buttons{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px 80px;
    column-gap: 8px;
    row-gap: 8px;}

#zero{
    grid-column-start: 1;
    grid-column-end: 3;
    border-radius: 50px;

}
#bckspc{
    grid-column-start: 2;
    grid-column-end: 4;
    border-radius: 50px;
}
button{
    border-radius: 50%;
    font-size:xx-large;
    font-family: 'Quicksand', sans-serif;
    border: 0px;
    background: #f4c983;
    color:#e40017;  
    font-weight: bold;
}
#container{
    /* border:2px solid; */
    padding: 15px;
    width: fit-content;
    border-radius: 50px;
    background: #e40017;
    
}
body{
    position:absolute;
    top:20%;
    left:35%;
    font-family: 'Quicksand', sans-serif;
}
.r5{
    background-color: #5b6d5b;
    color: rgb(252, 235, 204);
    font-weight: bold;
}
