@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background : #FF7B54;
}
#main{
    border: 0px;
    width:40vw;
    height:95vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-radius : 5px;
    background :#FFB26B ;
    font-family: 'Play', sans-serif;

}
#add-task{
    width: 35vw;
    padding : 5px;
    height: 5vh;
    color:#939B62;
    font-size: larger;
    font-family: 'Play', sans-serif;

}
#add-task:hover{
    box-shadow: #939B62 2px 2px 5px;
    font-weight: bold;
}
.task{
    width: 35vw;
    height : 5vh;
    margin-top : 20px;
    border : 0px;
    border-radius : 4px;
    background: #FFD56B;
}
#reg-task-btn,#input-task,#cmplt-task-btn{
    color:#939B62;
    border : 0px;
    background: white;
    border-radius: 2px;
    margin: 6px;
}
#input-task{
    width: 28vw;
    padding: 7px;
    height: 1.5vh
}
.invisible{
    visibility: hidden;
}